.DS_Store
*.swp

# this is for Automator binaries, see macSetup.org
bin/

# netrw keeps a history of modified dictories, which can be safely lost
.vim/.netrwhist

# see README for how to install packages
.vim/pack
